.feature-section {
    background-color: var(--color-light-grey);
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media screen and (min-width: 992px) {
        flex-direction: row;
        padding: 80px 50px;
    }

    .feature-card {
        background-color: var(--color-white);
        border-radius: 16px;
        padding: 30px 16px;
        box-shadow:
            0 0 5px rgba(0, 0, 0, 0.1),
            5px 5px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        @media screen and (min-width: 992px) {
            margin-right: 20px;
            margin-bottom: 0;
            max-width: 340px;
            width: 100%;
        }

        .feature-card-image {
            margin-bottom: 20px;
        }

        .feature-card-title {
            margin-bottom: 20px;
        }
    }
}
