<div class="header">
  <div class="left-side">
    <text
      elementType="h1"
      text="Exchange Your Money"
      class="xlarge dark-grey bold"
    />
    <text
      elementType="h2"
      text="Easly, Quickly And Securely"
      class="xlarge green bold"
    />
    <text
      elementType="p"
      text="Best source for currency conversation, sending money online and tracking exchange rates. Live tracking and notifications + flexible delivery and payment options."
      class="dark-grey description"
    />
    <c-button
      text="Exchange Fund"
      class="button border-green text-medium text-green"
    />
  </div>
  <div class="right-side">
    <div class="img-wrapper">
      <c-image class="header-image" src="../../../assets/hero.svg" alt="hero" />
    </div>
  </div>
</div>
